<div class="container">
    <div class="form-container">
<div class="title">Login</div>
    <form [formGroup]="loginForm">
<mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Enter your Email</mat-label>
    <input type="email" formControlName="email" matInput>
    <mat-error *ngIf="loginForm.value.email">valid Email is Required!</mat-error>
    
</mat-form-field>
<mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input type="password" formControlName="password" matInput>
    <mat-error *ngIf="loginForm.value.password">password must have 6 letters</mat-error>
    
</mat-form-field>

    </form>
    <div class="button-container">
        <button class="login-button" mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">login</button>
        <p>OR</p>
        <button routerLink="/create-account" mat-button>create account</button>
    </div>
    </div>

    
</div>
